{% if settings.home_about_button != empty %}
    <a class="button" href="{{settings.home_about_link}}" title="{{settings.home_about_button}}">
        <span>{{settings.home_about_button}}</span> 
    </a>
{% endif %}